click==7.1.2
fastapi==0.65.2
h11==0.9.0
httptools==0.1.1
joblib==1.2.0
loguru==0.5.1
numpy==1.19.0
pika==1.1.0
pydantic==1.6.2
scikit-learn==0.22.1
scipy==1.5.0
starlette==0.13.4
threadpoolctl==2.1.0
uvicorn==0.11.7
uvloop==0.14.0
websockets==9.1
prometheus-fastapi-instrumentator